body {
    font-family: 'Arial', sans-serif;
    background-color: #e8d5f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    color: #444;
    text-align: center;
}

#conversionForm {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: #e8d5f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#conversionForm input[type="text"],
#conversionForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* pour que padding ne déborde pas */
}

#conversionForm button {
    width: 100%;
    padding: 10px;
    background-color: #9647ba;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#conversionForm button:hover {
    background-color: #691b7a;
}

#result {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #e2e2e2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-align: center;
}
